<% include header.html %>
<section id="main">
    <div class="wrapper inner-page extra-padding clearfix">
        <div class="container_6">
            <h2 class="title">News<em class="border"></em></h2>
            <p class="isotope-filter">
                <a href="#" data-value="all" class="active">All</a>
                <a href="#" data-value="filter1">Історія</a>
                <a href="#" data-value="filter2">Оркестр</a>
                <a href="#" data-value="filter3">Солісти</a>
            </p>
            <div class="grid_4 alpha">
                <table class="table-striped">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Venue</th>
                        <th>Location</th>
                        <th>Tickets</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>07.12.12</td>
                        <td>Palais de Bercy <a href="javascript:if(confirm(%27http://maps.google.com/?ll=48.859463,2.292626&spn=0.000965,0.002642&t=m&z=19&layer=c&cbll=48.859524,2.292532&panoid=YJ0lq28OOy3VT2IqIuVY0g&cbp=12,151.58,,0,-15.56  \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27http://maps.google.com/?ll=48.859463,2.292626&spn=0.000965,0.002642&t=m&z=19&layer=c&cbll=48.859524,2.292532&panoid=YJ0lq28OOy3VT2IqIuVY0g&cbp=12,151.58,,0,-15.56%27" tppabs="http://maps.google.com/?ll=48.859463,2.292626&spn=0.000965,0.002642&t=m&z=19&layer=c&cbll=48.859524,2.292532&panoid=YJ0lq28OOy3VT2IqIuVY0g&cbp=12,151.58,,0,-15.56" class="lightbox fancybox.iframe fontawesome">&#xf0c1;</a></td>
                        <td>Paris, France</td>
                        <td><a href="#">Get Tickets</a></td>
                    </tr>
                    <tr>
                        <td>13.12.12</td>
                        <td>O2 Arena</td>
                        <td>London, United Kingdom</td>
                        <td><a href="#">Get Tickets</a></td>
                    </tr>
                    <tr>
                        <td>22.12.12</td>
                        <td>Comet Club <a href="javascript:if(confirm(%27http://maps.google.com/?ll=48.859463,2.292626&spn=0.000965,0.002642&t=m&z=19&layer=c&cbll=48.859524,2.292532&panoid=YJ0lq28OOy3VT2IqIuVY0g&cbp=12,151.58,,0,-15.56  \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27http://maps.google.com/?ll=48.859463,2.292626&spn=0.000965,0.002642&t=m&z=19&layer=c&cbll=48.859524,2.292532&panoid=YJ0lq28OOy3VT2IqIuVY0g&cbp=12,151.58,,0,-15.56%27" tppabs="http://maps.google.com/?ll=48.859463,2.292626&spn=0.000965,0.002642&t=m&z=19&layer=c&cbll=48.859524,2.292532&panoid=YJ0lq28OOy3VT2IqIuVY0g&cbp=12,151.58,,0,-15.56" class="lightbox fancybox.iframe fontawesome">&#xf0c1;</a></td>
                        <td>Berlin, Germany</td>
                        <td><a href="#">Get Tickets</a></td>
                    </tr>
                    <tr>
                        <td>31.12.12</td>
                        <td>Sala Arena <a href="javascript:if(confirm(%27http://maps.google.com/?ll=48.859463,2.292626&spn=0.000965,0.002642&t=m&z=19&layer=c&cbll=48.859524,2.292532&panoid=YJ0lq28OOy3VT2IqIuVY0g&cbp=12,151.58,,0,-15.56  \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27http://maps.google.com/?ll=48.859463,2.292626&spn=0.000965,0.002642&t=m&z=19&layer=c&cbll=48.859524,2.292532&panoid=YJ0lq28OOy3VT2IqIuVY0g&cbp=12,151.58,,0,-15.56%27" tppabs="http://maps.google.com/?ll=48.859463,2.292626&spn=0.000965,0.002642&t=m&z=19&layer=c&cbll=48.859524,2.292532&panoid=YJ0lq28OOy3VT2IqIuVY0g&cbp=12,151.58,,0,-15.56" class="lightbox fancybox.iframe fontawesome">&#xf0c1;</a></td>
                        <td>Madrid, Spain</td>
                        <td><a href="#">Get Tickets</a></td>
                    </tr>
                    <tr>
                        <td>04.01.13</td>
                        <td>Postbahnhof</td>
                        <td>Berlin, Germany</td>
                        <td><a href="#">Get Tickets</a></td>
                    </tr>
                    <tr>
                        <td>14.02.13</td>
                        <td>Huxley's Welt</td>
                        <td>Berlin, Germany</td>
                        <td><a href="#">Get Tickets</a></td>
                    </tr>
                    <tr>
                        <td>27.02.13</td>
                        <td>The Iridium</td>
                        <td>New York, NY, US</td>
                        <td><a href="#">Get Tickets</a></td>
                    </tr>
                    <tr>
                        <td>09.05.13</td>
                        <td>The Observatory <a href="javascript:if(confirm(%27http://maps.google.com/?ll=48.859463,2.292626&spn=0.000965,0.002642&t=m&z=19&layer=c&cbll=48.859524,2.292532&panoid=YJ0lq28OOy3VT2IqIuVY0g&cbp=12,151.58,,0,-15.56  \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27http://maps.google.com/?ll=48.859463,2.292626&spn=0.000965,0.002642&t=m&z=19&layer=c&cbll=48.859524,2.292532&panoid=YJ0lq28OOy3VT2IqIuVY0g&cbp=12,151.58,,0,-15.56%27" tppabs="http://maps.google.com/?ll=48.859463,2.292626&spn=0.000965,0.002642&t=m&z=19&layer=c&cbll=48.859524,2.292532&panoid=YJ0lq28OOy3VT2IqIuVY0g&cbp=12,151.58,,0,-15.56" class="lightbox fancybox.iframe fontawesome">&#xf0c1;</a></td>
                        <td>Santa Ana, CA, US</td>
                        <td><a href="#">Get Tickets</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div id="sidebar" class="grid_2">
                <div id="recent-concerts" class="module">
                    <h3>Recent Concerts</h3>
                    <div class="inner clearfix">
                        <a href="#"><img src="tmp/photodune-174680-guitar-solo-m-thumb.jpg" tppabs="/tmp/photodune-174680-guitar-solo-m-thumb.jpg" width="60" height="60" alt="" /> <span>Concert Name 1</span></a>
                        <a href="#"><img src="tmp/photodune-174857-guitar-solo-xs-thumb.jpg" tppabs="/tmp/photodune-174857-guitar-solo-xs-thumb.jpg" width="60" height="60" alt="" /> <span>Super Concert 2</span></a>
                        <a href="#"><img src="tmp/morguefile-file000401942226-thumb.jpg" tppabs="/tmp/morguefile-file000401942226-thumb.jpg" width="60" height="60" alt="" /> <span>Another Concert 3</span></a>
                    </div>
                </div>
                <div id="facebook-fans" class="module">
                    <h3>On Facebook</h3>
                    <div class="inner clearfix">
                        <iframe src="../../../www.facebook.com/plugins/likebox.php-href=http---www.facebook.com-cocacola&height=182&show_faces=true&colorscheme=light&stream=false&border_color=-d9d9d9&header=false" tppabs="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fcocacola&height=182&show_faces=true&colorscheme=light&stream=false&border_color=%23d9d9d9&header=false" style="border:none; overflow: hidden; width: 100%; height: 182px; margin: 0;"></iframe>
                    </div>
                </div>
            </div>
            <div id="comments" class="grid_6">
                <div class="sep"></div>
                <h3>Comments (2)</h3>
                <ol class="commentlist">
                    <li class="comment depth-1">
                        <div id="comment-1" class="clearfix">
                            <div class="comment-author">
                                <a href="#"><img alt="" src="tmp/morguefile-file000401942226-thumb.jpg" tppabs="/tmp/morguefile-file000401942226-thumb.jpg"></a>
                            </div>
                            <div class="comment-body">
                                <h6><a href="#" class="name">Steve Pittman</a> <a href="#" class="reply">(reply)</a></h6>
                                <p class="date"><span class="icon-calendar"></span>25 June 2012</p>
                                <p>Aliquam erat volutpat. Sed consectetur suscipit nunc et rutrum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer commodo.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer commodo tristique odio, quis fringilla ligula aliquet ut. Maecenas sed justo varius velit imperdiet bibendum. Vivamus nec sapien massa, a imperdiet diam.</p>
                            </div>
                        </div>
                        <ul class="children">
                            <li class="comment bypostauthor depth-2">
                                <div id="comment-1-1" class="clearfix">
                                    <div class="comment-author">
                                        <a href="#"><img alt="" src="tmp/photodune-174680-guitar-solo-m-thumb.jpg" tppabs="/tmp/photodune-174680-guitar-solo-m-thumb.jpg"></a>
                                    </div>
                                    <div class="comment-body">
                                        <h6><a href="#" class="name">Clair Johnson</a> <a href="#" class="reply">(reply)</a></h6>
                                        <p class="date"><span class="icon-calendar"></span>27 June 2012</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer commodo tristique odio, quis fringilla ligula aliquet ut. Maecenas sed justo varius velit imperdiet bibendum. Vivamus nec sapien massa, a imperdiet diam.</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="comment depth-1">
                        <div id="comment-2" class="clearfix">
                            <div class="comment-author">
                                <a href="#"><img alt="" src="tmp/photodune-174707-guitarsolo-at-a-rock-concert-s-thumb.jpg" tppabs="/tmp/photodune-174707-guitarsolo-at-a-rock-concert-s-thumb.jpg"></a>
                            </div>
                            <div class="comment-body">
                                <h6><a href="#" class="name">Joe Davidson</a> <a href="#" class="reply">(reply)</a></h6>
                                <p class="date"><span class="icon-calendar"></span>13 June 2012</p>
                                <p>Aliquam erat volutpat. Sed consectetur suscipit nunc et rutrum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer commodo.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer commodo tristique odio, quis fringilla ligula aliquet ut.</p>
                            </div>
                        </div>
                    </li>
                </ol>
                <div class="sep"></div>
                <h3>Leave a comment</h3>
                <div class="sep"></div>
                <form action="#" class="container_6">
                    <div class="grid_2 alpha">
                        <label for="name">Name:</label>
                        <input type="text" name="name" id="name" required="">
                    </div>
                    <div class="grid_2">
                        <label for="email">Email:</label>
                        <input type="email" name="email" id="email" required="">
                    </div>
                    <div class="grid_2">
                        <label for="website">Website:</label>
                        <input type="text" name="website" id="website">
                    </div>
                    <label for="message">Message:</label>
                    <textarea name="message" id="message" cols="30" rows="7" required=""></textarea>
                    <input type="submit" value="Submit Comment" class="button">
                </form>
            </div>
        </div>
    </div>
    <div class="border-bottom"></div>
    <a href="#logo" id="top-link"><span class="fontawesome">&#xf077;</span></a>
</section>
<% include footer.html %>